name: GitHub Pagesへデプロイ
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "25.2.1"
      - run: yarn install
      - run: yarn nuxt build --preset github_pages
      - name: アーティファクトをアップロード
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./.output/public
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Pagesへデプロイ
        id: deployment
        uses: actions/deploy-pages@v4
